/* Estilos Generales */
* {
  margin: 0;
  padding: 0;
  font: verdana, sans-serif;
}

body {
height: 100vh;
background-color:#2B807B;
text-align: center;
}

.centrar-flex {
  display: flex;
  justify-content: center; /*Eso centra los elementos horisontal en el eje principal */
  align-items: center; /*Eso centra los elementos vertical en el eje perpenticular al principal*/
}

/* Estilos para el contenedor */