/* Estilos generales Css*/
/* Con el selector universal vamos asignar por defecto un margin: 0; y padding: 0; esto se recomienda y lo vas a 
ver comúnmente para que ningún elemento tenga un margin o padding asignado por defecto en el Browser pero cuando 
iniciamos esto de la forma mencionada estamos reseteando todo eso. También vas a encontrar esta propiedad 
box-sizing: border-box; esto le dice al Browser como va a calcular el tamaño en base a su margin y a su padding, 
border-box es una de las propiedades específicas de los valores específicos. Y luego el tipo de fuente 
font-family: "lato", sans-serif;
*/ 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif; 
}

/*
Para el body vamos a usar (flexbox) display: flex; justify-content: center; y otras propiedades, vemos aquí 
align-items: center; vemos la altura→height: 100vh; va a ser 100% la altura de la ventana va a tener toda la 
dimensión así que vamos a poder centrar lo relativo al tamaño completo total de la ventana donde se está viendo 
el contenido text-align: center; alineamos en el centro y el fondo va a ser una imagen. 
background: url(imagenes/pizza.jpg) Tambien además de la img vamos a especificar algunos valores para ese fondo. 
No vamos a repetir el fondo→no-repeat lo vamos a centrar→center center/cover; y de esta forma vamos a lograr que 
se vea de una forma peculiar el fondo, se va a poder ver centrado independientemente del dispositivo puedes ver 
en el proyecto como se reajusta el fondo La imagen seleccionada va a estar ubicada en la carpeta de imágenes 
de nuestro proyecto. 
 */                  
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background: url(imagenes/fondo1.jpg) no-repeat center center/cover;
}

/*  
CONTENIDO: Vamos asignar estos estilos, primero tenemos el id que funciona como un contenedor entonces vamos 
asignarle un estilo a ese contenedor con un id→#contenedor ese contenedor va a ser flex flex-wrap: wrap; para que 
todo se reajuste de acuerdo a cuanto espacio está disponible. justify-content: center; align-items: center; 
vamos alinearlos en el centro vertical y horizontalmente. min-height: 80vb; y la altura mínima de ese contenedor 
va a ser 80% de la altura de la ventana o donde se está viendo el contenido también el ancho de la ventana 
width: 80vh;  va a ser el 80% pero va a tener un ancho max-width: 600px; de 600px asi si en la pantalla o el monitor 
donde se está viendo es muy ancho el máximo se lo indicamos en 600px. El color de fonfo background-color: white; 
va a ser blanco y el borde border: 4px solid black; va a ser de  4px sólido y negro. Se puede ver en la aplicación 
un ancho máximo pero en dispositivos móviles se reajusta bien, eso es para el contenedor principal. 
*/
#contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  width: 70vh;
  max-width: 600px;
  background-color: white;
  border: 4px solid black;
}    

/*
Ahora para el título principal h1 el tamaño de la letra font-size: 3rem; va a ser 3 rem para que sea grande va a 
tomar el 100% del ancho de su contenedor y va a tener un margen  margin: 20px 10px; de 20px arriba y abajo y 
10px a los lados   
*/               
h1 {
  font-size: 3rem;
  width: 100%;
  margin: 20px 10px;
}

/*
El estilo a la lista→ul no ordenada el ancho de esa lista va a ser cien por ciento de su contenedor→width: 100%;
y el alto va ser cien por ciento→height: 100%; 
*/ 
ul{
  width: 99%;
  height: 99%;
}

/*
Ahora vamos a señalar un estilo a la clase toppings, en html se asigna a cada uno de los elementos de la lista. 
El tipo de letra font-size: 2rem; va a ser 2rem, el peso de la letra font-weight: bold; va a ser negrita 
color→color: white; blanco luego va a ser display: flex; flex-wrap: wrap; para que nos permita que los distintos 
toppings estén en distintas líneas, también vamos a centrar justify-content: center; 
alineado→align-items: center; vamos a centrar, el ancho→width: 100%; cien por ciento, altura→height: 80px; 
y un margen→margin: 15 0; y cero  
*/  
.toopings {
font-size: 4rem;
font-weight: bold;
color: white;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 100%;
height: 80px;
margin: 15 0;
}

/*
Clases fondo marrón que va asignar ese color en la ul para los que tienen ese fondo background-color: #aa5822;  
Clases fondo naranja que va asignar ese color en la ul para los que tienen ese fondo background-color: #ff7b0f;
*/ 
.fondo-marron{
  background-color: #aa5822;
}
.fondo-naranja{
  background-color: #ff7b0f;
} 